body{
    background-color: rgb(53, 50, 50);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculatrice{
    box-shadow: 9px 12px 0px 0px rgba(0, 0, 0, 0.75);
    width: 367px;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
}

.resultat{
    width: 100%;
}
.resultat input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
}

.touches{
    width: 100%;
    height: 100%;
}

.touches{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    padding: 5px 0;
}

.touches input{
    width: 100%;
    height: 60px; /* On donne une hauteur aux boutons */
    border-radius: 10px;
    border: none;
    background-color: #3a3a3a;
    color: white;
    font-size: 20px;
}

.egal {
    grid-column: span 2;
    background-color: orange !important;
}